node_modules
npm-debug.log
.DS_Store
.git
Dockerfile
DockerfileMigrate
.dockerignore
.eslintrc.json
.gitignore
.prettierrc.json
.keystone
.secure_files
.envProductionSample
.envDevelopmentSample
public
oldDatabases
notes